@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);






















#menu-1 .mbr-brand__name {
  font-size: 16px;
}
#menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #fd0303;
}
#menu-1 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1 .mbr-navbar__items a {
  font-size: 14px;
  font-family: 'Oxygen', sans-serif;
}
#menu-1 .mbr-brand__name a {
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
}
#header4-6 H1 {
  font-family: 'Oxygen', sans-serif;
  font-size: 48px;
  text-align: center;
}
#header4-6 SPAN {
  font-size: 60px;
}
#header4-6 P {
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  font-size: 18px;
}
#header4-6 .btn {
  font-family: 'Oxygen', sans-serif;
}
#header2-7 H1 {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
  text-align: left;
  font-size: 36px;
}
#header2-7 P {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
  text-align: left;
  font-size: 18px;
}
#header2-7 .btn {
  font-family: 'Oxygen', sans-serif;
}
#header4-26 H1 {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#header4-26 P {
  font-family: 'Oxygen', sans-serif;
}
#header1-8 H1 {
  font-family: 'Oxygen', sans-serif;
  font-size: 46px;
}
#header1-8 P {
  font-family: 'Oxygen', sans-serif;
}
#header1-8 SPAN {
  font-family: 'Oxygen', sans-serif;
  font-size: 36px;
}
#header1-8 .btn {
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-2 .mbr-header .mbr-header__text {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  font-size: 22px;
  color: #c1c1c1;
}
#msg-box3-2 .mbr-header .mbr-header__subtext {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
#msg-box3-2 .mbr-article P {
  text-align: center;
}
#msg-box3-2 .mbr-article {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  font-size: 24px;
  color: #000000;
}
#msg-box3-2 .mbr-article DIV {
  color: #000000;
  font-size: 48px;
}
#msg-box3-2 .mbr-article H1 {
  text-align: center;
  font-size: 32px;
}
#msg-box3-2 .btn {
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-73 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-73 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-6 .mbr-header .mbr-header__text {
  text-align: center;
  color: #252525;
  font-family: 'Oxygen', sans-serif;
  font-size: 24px;
}
#msg-box3-6 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-6 .mbr-article P {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-6 .mbr-header .mbr-header__text DIV {
  font-family: 'Oxygen', sans-serif;
  color: #252525;
  font-size: 24px;
}
#msg-box3-6 .btn {
  font-family: 'Oxygen', sans-serif;
}



















#menu-1 .mbr-brand__name {
  font-size: 16px;
}
#menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #fd0303;
}
#menu-1 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1 .mbr-navbar__items a {
  font-size: 14px;
  font-family: 'Oxygen', sans-serif;
}
#menu-1 .mbr-brand__name a {
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
}
#header4-8 P {
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
}
#header4-8 H1 {
  font-family: 'Oxygen', sans-serif;
}
#header4-8 .btn {
  font-family: 'Oxygen', sans-serif;
}
#header4-8 SPAN {
  text-align: left;
}
#msg-box3-10 .mbr-header .mbr-header__text {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-10 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-10 .mbr-article P {
  text-align: center;
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#msg-box4-11 .mbr-header__text {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
  text-align: left;
}
#msg-box4-11 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-11 .mbr-article {
  color: #ffffff;
}
#msg-box4-11 .mbr-article P {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  color: #000000;
}
#msg-box5-12 .mbr-header__text {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
  font-size: 24px;
}
#msg-box5-12 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-12 .mbr-article {
  color: #ffffff;
}
#msg-box5-12 .mbr-article P {
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  color: #000000;
}
#msg-box4-13 .mbr-header__text {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#msg-box4-13 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-13 .mbr-article {
  color: #ffffff;
}
#msg-box4-13 .mbr-article P {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#header1-16 H1 {
  font-family: 'Oxygen', sans-serif;
}
#header1-16 P {
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
}
#header1-16 .btn {
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
}
#msg-box3-15 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-15 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-15 .mbr-article P {
  color: #000000;
  text-align: left;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
}
#content5-16 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-family: 'Oxygen', sans-serif;
}
#content5-16 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-16 .mbr-article {
  color: #fff;
}
#content5-16 .mbr-article P {
  text-align: center;
}
#content5-16 .btn {
  font-family: 'Oxygen', sans-serif;
}





















#menu-17 .mbr-brand__name {
  font-size: 16px;
}
#menu-17.mbr-navbar--stuck .mbr-navbar__section {
  background: #fd0303;
}
#menu-17 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-17 .mbr-navbar__items a {
  font-size: 14px;
  font-family: 'Oxygen', sans-serif;
}
#menu-17 .mbr-brand__name a {
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
}
#header4-18 P {
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
}
#header4-18 H1 {
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
}
#header4-18 .btn {
  font-family: 'Oxygen', sans-serif;
}
#header4-18 SPAN {
  text-align: left;
}
#msg-box3-19 .mbr-header .mbr-header__text {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-19 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-19 .mbr-article P {
  text-align: center;
  color: #000000;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
}
#msg-box3-19 .btn {
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-19 .mbr-article {
  color: #000000;
}
#msg-box4-20 .mbr-header__text {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
  text-align: left;
  font-size: 24px;
}
#msg-box4-20 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-20 .mbr-article {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
}
#msg-box4-20 .mbr-article P {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}
#msg-box5-21 .mbr-header__text {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
  font-size: 24px;
}
#msg-box5-21 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-21 .mbr-article {
  color: #ffffff;
}
#msg-box5-21 .mbr-article P {
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  color: #000000;
}
#msg-box4-22 .mbr-header__text {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#msg-box4-22 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-22 .mbr-article {
  color: #ffffff;
}
#msg-box4-22 .mbr-article P {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#header1-23 H1 {
  font-family: 'Oxygen', sans-serif;
}
#header1-23 P {
  font-family: 'Oxygen', sans-serif;
}
#header1-23 .btn {
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
}
#msg-box3-24 .mbr-header .mbr-header__text {
  text-align: center;
  color: #c1c1c1;
  font-size: 14px;
}
#msg-box3-24 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-24 .mbr-article P {
  color: #000000;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
}
#content5-25 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-family: 'Oxygen', sans-serif;
}
#content5-25 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-25 .mbr-article {
  color: #fff;
}
#content5-25 .mbr-article P {
  text-align: center;
}
#content5-25 .btn {
  font-family: 'Oxygen', sans-serif;
}





















#menu-38 .mbr-brand__name {
  font-size: 16px;
}
#menu-38.mbr-navbar--stuck .mbr-navbar__section {
  background: #fd0303;
}
#menu-38 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-38 .mbr-navbar__items a {
  font-size: 14px;
  font-family: 'Oxygen', sans-serif;
}
#menu-38 .mbr-brand__name a {
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
}
#header4-39 P {
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
}
#header4-39 H1 {
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
}
#header4-39 .btn {
  font-family: 'Oxygen', sans-serif;
}
#header4-39 SPAN {
  text-align: left;
}
#msg-box3-40 .mbr-header .mbr-header__text {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-40 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-40 .mbr-article P {
  text-align: center;
  color: #000000;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
}
#msg-box3-40 .btn {
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-40 .mbr-article {
  color: #000000;
}
#msg-box4-41 .mbr-header__text {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
  text-align: left;
  font-size: 24px;
}
#msg-box4-41 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-41 .mbr-article {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
}
#msg-box4-41 .mbr-article P {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}
#msg-box5-42 .mbr-header__text {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
  font-size: 24px;
}
#msg-box5-42 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-42 .mbr-article {
  color: #ffffff;
}
#msg-box5-42 .mbr-article P {
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  color: #000000;
}
#msg-box4-43 .mbr-header__text {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#msg-box4-43 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-43 .mbr-article {
  color: #ffffff;
}
#msg-box4-43 .mbr-article P {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#header1-44 H1 {
  font-family: 'Oxygen', sans-serif;
}
#header1-44 P {
  font-family: 'Oxygen', sans-serif;
}
#header1-44 .btn {
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
}
#msg-box3-45 .mbr-header .mbr-header__text {
  text-align: center;
  color: #c1c1c1;
  font-size: 14px;
}
#msg-box3-45 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-45 .mbr-article P {
  color: #000000;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
}
#content5-46 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-family: 'Oxygen', sans-serif;
}
#content5-46 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-46 .mbr-article {
  color: #fff;
}
#content5-46 .mbr-article P {
  text-align: center;
}
#content5-46 .btn {
  font-family: 'Oxygen', sans-serif;
}




















#menu-29 .mbr-brand__name {
  font-size: 16px;
}
#menu-29.mbr-navbar--stuck .mbr-navbar__section {
  background: #fd0303;
}
#menu-29 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-29 .mbr-navbar__items a {
  font-size: 14px;
  font-family: 'Oxygen', sans-serif;
}
#menu-29 .mbr-brand__name a {
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
}
#header4-30 P {
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
}
#header4-30 H1 {
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
}
#header4-30 .btn {
  font-family: 'Oxygen', sans-serif;
}
#header4-30 SPAN {
  text-align: left;
}
#msg-box3-31 .mbr-header .mbr-header__text {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-31 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-31 .mbr-article P {
  text-align: center;
  color: #000000;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
}
#msg-box3-31 .btn {
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-31 .mbr-article {
  color: #000000;
}
#msg-box4-32 .mbr-header__text {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
  text-align: left;
  font-size: 24px;
}
#msg-box4-32 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-32 .mbr-article {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
}
#msg-box4-32 .mbr-article P {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}
#msg-box5-33 .mbr-header__text {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
  font-size: 24px;
}
#msg-box5-33 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-33 .mbr-article {
  color: #ffffff;
}
#msg-box5-33 .mbr-article P {
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  color: #000000;
}
#msg-box5-33 .btn {
  font-family: 'Oxygen', sans-serif;
}
#header1-35 H1 {
  font-family: 'Oxygen', sans-serif;
}
#header1-35 P {
  font-family: 'Oxygen', sans-serif;
}
#header1-35 .btn {
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
}
#msg-box3-36 .mbr-header .mbr-header__text {
  text-align: center;
  color: #c1c1c1;
  font-size: 14px;
}
#msg-box3-36 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-36 .mbr-article P {
  color: #000000;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
}
#content5-37 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-family: 'Oxygen', sans-serif;
}
#content5-37 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-37 .mbr-article {
  color: #fff;
}
#content5-37 .mbr-article P {
  text-align: center;
}
#content5-37 .btn {
  font-family: 'Oxygen', sans-serif;
}







#ext_menu-51 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-51.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-51 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box3-52 .mbr-header .mbr-header__text {
  text-align: center;
  font-size: 48px;
}
#msg-box3-52 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-52 .mbr-article P {
  text-align: center;
}
#msg-box3-52 .mbr-article {
  text-align: center;
}
#msg-box3-53 .mbr-header .mbr-header__text {
  text-align: left;
}
#msg-box3-53 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-53 .mbr-article P {
  font-family: 'Lora', serif;
}
#msg-box3-57 .mbr-header .mbr-header__text {
  text-align: left;
}
#msg-box3-57 .mbr-header .mbr-header__subtext {
  text-align: left;
  font-family: 'Roboto', sans-serif;
}
#msg-box3-57 .mbr-header .mbr-header__subtext SPAN {
  font-size: 16px;
  font-family: 'Lora', serif;
  color: #999999;
}
#msg-box3-57 .mbr-article UL {
  font-size: 16px;
  font-family: 'Lora', serif;
  color: #252525;
}
#msg-box3-57 .mbr-article P {
  color: #252525;
  font-family: 'Lora', serif;
}
#image1-56 SMALL {
  text-align: center;
  color: #ffffff;
}
#msg-box3-63 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-63 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-63 .btn {
  font-size: 24px;
}
#testimonials1-54 .mbr-section__header {
  color: #efefef;
}
#testimonials1-54 .mbr-reviews__author-bio {
  color: #777777;
}
#testimonials1-54 .mbr-reviews__author-name {
  color: #777777;
}
#msg-box3-59 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-59 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-59 .mbr-article P {
  text-align: left;
  color: #252525;
  font-family: 'Lora', serif;
}
#image1-58 SMALL {
  text-align: center;
}
#msg-box3-64 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-64 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-64 .btn {
  font-size: 18px;
}
#features1-66 P {
  font-family: 'Lora', serif;
  color: #252525;
  text-align: center;
}
#content4-65 .mbr-section-title .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#content4-65 .mbr-section__col .mbr-header__text {
  text-align: left;
  color: #ffffff;
}
#content4-65 P {
  color: #ffffff;
}






#menu-62 .mbr-brand__name {
  font-size: 16px;
}
#menu-62.mbr-navbar--stuck .mbr-navbar__section {
  background: #fd0303;
}
#menu-62 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-62 .mbr-navbar__items a {
  font-size: 14px;
  font-family: 'Oxygen', sans-serif;
}
#menu-62 .mbr-brand__name a {
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
}
#msg-box3-69 .mbr-header .mbr-header__text {
  text-align: center;
  color: #252525;
  font-family: 'Oxygen', sans-serif;
  font-size: 24px;
}
#msg-box3-69 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-69 .mbr-article P {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-69 .mbr-header .mbr-header__text DIV {
  font-family: 'Oxygen', sans-serif;
  color: #252525;
  font-size: 24px;
}
#msg-box3-69 .btn {
  font-family: 'Oxygen', sans-serif;
}






















#menu-70 .mbr-brand__name {
  font-size: 16px;
}
#menu-70.mbr-navbar--stuck .mbr-navbar__section {
  background: #fd0303;
}
#menu-70 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-70 .mbr-navbar__items a {
  font-size: 14px;
  font-family: 'Oxygen', sans-serif;
}
#menu-70 .mbr-brand__name a {
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
}
#header4-71 H1 {
  font-family: 'Oxygen', sans-serif;
  font-size: 48px;
  text-align: center;
}
#header4-71 SPAN {
  font-size: 60px;
}
#header4-71 P {
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  font-size: 18px;
}
#header4-71 .btn {
  font-family: 'Oxygen', sans-serif;
}
#header2-72 H1 {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
  text-align: left;
  font-size: 36px;
}
#header2-72 P {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
  text-align: left;
  font-size: 18px;
}
#header2-72 .btn {
  font-family: 'Oxygen', sans-serif;
}
#header4-73 H1 {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#header4-73 P {
  font-family: 'Oxygen', sans-serif;
}
#header1-74 H1 {
  font-family: 'Oxygen', sans-serif;
  font-size: 46px;
}
#header1-74 P {
  font-family: 'Oxygen', sans-serif;
}
#header1-74 SPAN {
  font-family: 'Oxygen', sans-serif;
  font-size: 36px;
}
#header1-74 .btn {
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-75 .mbr-header .mbr-header__text {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  font-size: 22px;
  color: #c1c1c1;
}
#msg-box3-75 .mbr-header .mbr-header__subtext {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
#msg-box3-75 .mbr-article P {
  text-align: center;
}
#msg-box3-75 .mbr-article {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  font-size: 24px;
  color: #000000;
}
#msg-box3-75 .mbr-article DIV {
  color: #000000;
  font-size: 48px;
}
#msg-box3-75 .mbr-article H1 {
  text-align: center;
  font-size: 32px;
}
#msg-box3-75 .btn {
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-77 .mbr-header .mbr-header__text {
  text-align: center;
  color: #252525;
  font-family: 'Oxygen', sans-serif;
  font-size: 24px;
}
#msg-box3-77 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-77 .mbr-article P {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-77 .mbr-header .mbr-header__text DIV {
  font-family: 'Oxygen', sans-serif;
  color: #252525;
  font-size: 24px;
}
#msg-box3-77 .btn {
  font-family: 'Oxygen', sans-serif;
}
#slider-43 H1 {
  text-align: center;
}
#slider-43 P {
  text-align: center;
}
#msg-box1-48 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-48 .mbr-article {
  color: #fff;
}
#slider-50 SPAN {
  text-align: left;
}
#slider-50 P {
  text-align: right;
}
#slider-50 P {
  text-align: right;
}
#msg-box1-51 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-51 .mbr-article {
  color: #fff;
}
#slider-52 P {
  text-align: left;
}
#slider-52 H1 {
  text-align: left;
}
